/* 美化首页 */

*{
    margin: 0;
    padding: 0;
    /* 内减模式 */
    box-sizing: border-box;

}


*.li {
    list-style: none;
}


/* 版心 */


.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.nav li {
    list-style: none;
    float: left;
    margin-right: 26px;
}
a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }

body {
    background-color: #f3f5f7;
}

/* 头部 */
.header {
    margin-top: 30px;
    margin-bottom: 30px;
    /* margin-left: 360px; */
    height: 42px;
    /* background-color: pink; */

}

h1 {
    float: left;
}

.nav {
    float: left;
    height: 42px;
    /* background-color: green; */
    margin-left: 70px;
}

.nav li a {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    /* border-bottom: 2px solid #00a4ff; */
    padding-left: 9px;
    padding-right: 9px;
    font-size: 18px;
    color: #050505;

}

.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}

.search {
    float: left;
    width: 412px;
    height: 40px;
    border: 1px solid #00a4ff;
    margin-left:  69px;
    
}

.search input {
    float: left;
    width: 359.5px;
    height: 38px;
    border: 0;
    padding-left: 20px;
}

.search input::placeholder {
    font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #bfbfbf;
}

.search button {
    float: left;
    border: 0;
    width: 50px;
    height: 40px;
    background-image: url(../images/btn.png);
}

.user {
    float: right;
    margin-right: 35px;
    height: 42px;
}

.user img {
    /* 调节图片对齐方式 */
    margin-top: 0px ;
    /* margin-top: (42-36)/2 px; */
    vertical-align: middle;
}

.user span {
    height: 42px;
    line-height: 42px;
}

.banner {
    height: 420px;
    background-color: #1c036c;

}

.banner .wrapper {
    width: 1200px;
    height: 420px;
    background-image: url(../images/banner2.png);
}

.banner .wrapper .left {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 44px;
}

.banner .wrapper .left span {
    float: right;
}

.banner .left a{
    color: white ;
}

.banner .left a:hover {
    color: blue;
}


.banner .wrapper .right {
    /* display: inline-block; */
    float: right;
    width: 228px;
    height: 300px;
    background-color: #ffffff;

    margin-top: 50px;
    margin-bottom: 70px;
    /* border: 1px solid black; */
}

.banner .right h2 {
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea;
    font-size: 18px;
    color: white;
}

.banner .right .content {
    padding: 0 18px;

}

.banner .right .content dl {
    padding: 12px 0;
    border-bottom:2px solid #f8f8f8;
}

.banner .right dt {
    font-size: 16px;
    color: #4e4e4e;
}

.banner .right dd {
    font-size: 14px;
    color: #4e4e4e;
}

.banner .all {
    display: inline-block;
    margin-bottom: 11px;
    margin-left:14px ;
    margin-right: 14px;
    margin-top: 4px;
    text-align: center;
    line-height: 41px;
    width: 200px;
	height: 41px;
    border: solid 1px #00a4ff;

    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: bold;
	font-stretch: normal;
	letter-spacing: 2px;
	color: #00a4ff;
}

/* 精品推荐 */

.goods{
    margin-top: 8px;
    width: 1200px;
	height: 60px;
    background-color: #ffffff;
	box-shadow: 0px 2px 3px 0px 
		rgba(118, 118, 118, 0.2);
    padding-left: 34px;
    padding-right: 26px;
}

.goods h2 {
    float: left;
    line-height: 18px;
    height: 18px;
    font-size: 16px;
    color: #00a4ff;
    margin-right: 15px;
    padding-right:15px ;
    padding-top: 21px;

}

.goods ul a:hover {
    color: #00a4ff;
    font-weight: 700;
}

.goods li {
    float: left;
    line-height: 18px;
    height: 18px;
    padding-top: 21px;
    
    /* border-left: 1px solid #bfbfbf; */
}

.goods ul a {
    border-left: 1px solid #bfbfbf;
    padding-left: 30px;
    padding-right: 30px;
    color: black;

}

.goods .hobby {
    float: right;
    padding-top: 21px;
    color: #00a4ff;
}


.lesson {
    /* background-color: pink; */
    height: 40px;
    margin-top: 37px;
}

.lesson h2 {
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    font-family: MicrosoftYaHei;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #494949;
}

.lesson a {
    float: right;
    margin-top: 8px;
    font-family: MicrosoftYaHei;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #a5a5a5;
}



.lesson .content li {
    float: left;
    /* display: inline-block; */
    background-color: pink;
    width: 228px;
    height: 270px;
}

.lesson .a {
    margin-right: 15px;
}

.lesson .c {
    margin-top: 15px;
    margin-right: 15px;
}

.lesson .d {
    margin-top: 15px;
}

.lesson ul img {
    margin-top: -7px;
    float: left;
    width: 228px;
    height: 155px;
}

.lesson ul h2 {
    margin-left: 20px;
    margin-top: 20px;

    font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #050505;
}

.lesson ul h3 {
    margin-right: 90px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;

    /* font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	letter-spacing: 0px;
	color: #050505; */
}

.foot{
    height: 250px;
    background-color: white;
    margin-top: 600px;
    padding-top: 33px;
}

.foot .left p {
    float: left;
    margin-top: 70px;
    margin-left: -195px;
    font-family: SimSun;
	font-size: 12px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #666666;
}

.foot .left h2 {
    border: 1px solid #00a4ff;
    width: 120px;
    height: 36px;
    padding-top: 9px;
    text-align: center;

    float: left;
    margin-top: 130px;
    margin-left: -430px;
    font-family: MicrosoftYaHei;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 18px;
	letter-spacing: 0px;
	color: #00a4ff;

}



